/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

img{
}

.hide{
  display:none;
}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

#tumblelog .col1 { width: 220px; }
#tumblelog .col2 { width: 460px; }
#tumblelog .col3 { width: 700px; }

#tumblelog .story {
  margin: 10px;
  border-top: 4px solid #DCB;
  padding-top: 10px;
  background: white;
  float: left;
}

.bs-docs-sidenav.affix {
  top: 60px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 0px;
}

#webCarousel div.carousel-inner div.item{
  min-height: 357px;
}

#fbCarousel div.carousel-inner div.item{
  min-height: 300px;
}

#wgCarousel div.carousel-inner div.item{
  min-height: 300px;
}

#mobileCarousel div.carousel-inner div.item{
  min-height: 468px;
}

#drop_zone{
  border: 2px dashed #bbb;
  color: #bbb;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#drop_zone.over{
  background-color:#ccc;
  color: #fff;
  border: 2px dashed #888;
}

#drop_image img{
  margin-top: 5px;
}

.portfolio_entry{
  border-top: 1px dashed #DCB;
  padding-top: 30px;
  margin-left: 0;
}
