<header class="jumbotron subhead">
  <div class="container">
    <h2>About me</h2>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="span1"></div>
    <div class="span7">
      <div class="page-header"><span class="lead">Hi, My name is Sam Liu</span></div>
      <p>
        I am a programmer specialized in web application development.<br>
        I make website and applications using cutting edge technologies.<br>
        Web development is my passion and I am looking for oppotunities to make wonderful applications.
      </p><br>
      <div class="page-header"><span class="lead"><small>Skill set</small></span></div>
        <ul>
          <li>PHP</li>
          <li>Python Django</li>
          <li>MySQL/SQLite/MongoDB</li>
          <li>HTML/CSS</li>
          <li>Javascript/jQuery</li>
          <li>OOP and Design patterns</li>
          <li>SEO</li>
          <li>Analytics/Data Mining</li>
          <li>and much more..</li>
        </ul>
      <div class="page-header"><span class="lead"><small>Facts about me</small></span></div>
        <ul>
          <li>Most of my programming skills are self taught.</li>
          <li>I write code using vi/vim on linux</li>
          <li>I first learned about programming when I was 10 using QBasic. C/C++ and OOP when I was 15.</li>
        </ul>
      <div class="page-header"><span class="lead"><small>Recently read books</small></span></div>
        <ul>
          <li><a href="http://books.google.co.uk/books/about/Pro_JavaScript_Techniques.html?id=GgJN2CC_2s4C" target="_blank">Pro JavaScript Techniques</a> by John Resig</li>
          <li><a href="http://shop.oreilly.com/product/0636920014614.do" target="_blank">Gamification by Design</a> by Gabe Zichermann</li>
        </ul>
    </div>
    <div class="span3">
      <div class="page-header"></div>
      <a href="https://github.com/bzsamus" target="_blank" class="btn" style="width:180px"><img style="height:25px" src="img/octocat.png" /> visit my github</a> 
      <br><br>
      <a target="_blank" href="http://au.linkedin.com/in/mr5am">
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Sam Liu's profile on LinkedIn">
      </a>
    </div>
  </div>
</div>
