<div id="lab_container" class="container">
<div class="row">
  <div class="span8">
    <h2>Lab</h2>
    <blockquote>
      <p><em>All life is an experiment. The more experiments you make the better.</em></p>
    </blockquote>
  </div>

<div id="tumblelog" class="span12">

</div> <!-- /#tumblelog -->


</div>
</div>

<script>
var $tumblelog = jQuery('#tumblelog');
jQuery(window).load(function(){
  var winheight = jQuery(window).height();
  console.log(winheight);
});

prettyPrint()

localStorage.clear();
var sample_url = "https://docs.google.com/spreadsheet/pub?key=0ApfppV5WJMbMdHd1MVBTMXNPamtjckhlZ0lMa0NTUUE&single=true&gid=0&output=html";
var url_parameter = document.location.search.split(/\?url=/)[1]
var url = url_parameter || sample_url;
var googleSpreadsheet = new GoogleSpreadsheet();
googleSpreadsheet.url(url);
googleSpreadsheet.load(function(result) {
  for(i = 0; i<result.data.length; i+=5){
    $tumblelog.append('<div class="story '+result.data[i+1]+'">'+result.data[i]+result.data[i+2]+'</div>');
  }
  $tumblelog.imagesLoaded( function(){
    $tumblelog.masonry({
      columnWidth: 240
    });
  });
});

</script>
