<header class="jumbotron subhead">
  <div class="container">
    <h2>Portfolio</h2>
  </div>
</header>

<div id="portfolio_container" class="hide container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div id="sidenav" class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#website"><i class="icon-chevron-right"></i> Website</a></li>
          <li><a href="#facebook"><i class="icon-chevron-right"></i> Facebook Application</a></li>
          <li><a href="#webgame"><i class="icon-chevron-right"></i> Webgame</a></li>
          <li><a href="#mobile"><i class="icon-chevron-right"></i> Mobile</a></li>
        </ul>
      </div>
      <div class="span9 pull-right">
        <!-- website
        ================================================== -->
        <section id="website" class="row">
          <div class="page-header">
            <h3>Website</h3>
          </div>
	 <div class="span6">
            <dl class="dl-horizontal">
              <dt>Site</dt><dd>tarotfool.net</dd>
              <dt>OS</dt><dd>CentOS</dd>
              <dt>Webserver</dt><dd>Nginx</dd>
              <dt>Database</dt><dd>Mongodb</dd>
              <dt>Development</dt><dd>MEAN stack</dd>
              <dt>Details</dt><dd>A side project for tarot enthusiasts<br> Developed with Node and express backend,<br> Mongodb databse and AngularJS front-end</dd>
            </dl>
          </div>
	  <div class="span2"><img class="img-polaroid" src="img/tarotfool.jpg" /></div>
	  <div class="span9 portfolio_entry">
          <div class="span6">
            <dl class="dl-horizontal">
              <dt>Site</dt><dd>meeya.cc</dd>
              <dt>OS</dt><dd>freebsd</dd>
              <dt>Webserver</dt><dd>lighttpd</dd>
              <dt>Database</dt><dd>MySQL</dd>
              <dt>Development</dt><dd>PHP, jQuery</dd>
              <dt>Responsible for</dt><dd>product development and improvement,<br> traffic analytics,<br> monitoring queries performance and improve overall site performance</dd>
            </dl>
          </div>
          <div class="span2"><img class="img-polaroid" src="img/meeya.jpg" /></div>
          <div class="span9 portfolio_entry">
          <div class="span6">
            <dl class="dl-horizontal">
              <dt>Site</dt><dd>www.audio-technica.com.tw</dd>
              <dt>Database</dt><dd>MySQL</dd>
              <dt>Development</dt><dd>PHP, javascript, jQuery</dd>
              <dt>Responsible for</dt><dd>
              Frontend UI development,<br>
              ajax page transitions,<br>
              state management with html5 history api 
              </dd>
            </dl>
          </div>
          <div class="span2"><img class="img-polaroid" src="img/at.jpg" /></div>
          </div>
        </section>

        <!-- facebook
        ================================================== -->
        <section id="facebook" class="row">
          <div class="page-header">
            <h3>Facebook Application</h3>
          </div>
          <div class="span7">
            <dl class="dl-horizontal">
              <dt>OS</dt><dd>centOS</dd>
              <dt>Webserver</dt><dd>nginx</dd>
              <dt>Database</dt><dd>MySQL</dd>
              <dt>Development</dt><dd>PHP, Python Django, jQuery, memcache</dd>
              <dt>Overview</dt>
              <dd>
                I have developed many facebook applications since the start of facebook era.<br>
                The challenge of facebook application development is to keep up to date with the everchanging platform api.<br>
                The potential user base of facebook makes data mining and user behavior analysis especially important. <br>
                Iterate based on user feedback is also vital for a successful application. 
              </dd>
            </dl>
          </div> 
        </section>

        <!-- webgame
        ================================================== -->
        <section id="webgame" class="row">
          <div class="page-header">
            <h3>Webgame</h3>
          </div>
           <div class="span6">
            <dl class="dl-horizontal">
              <dt>Game</dt><dd>StoreCity</dd>
              <dt>OS</dt><dd>centOS</dd>
              <dt>Webserver</dt><dd>nginx</dd>
              <dt>Database</dt><dd>MongoDB, MySQL</dd>
              <dt>Development</dt><dd>PHP, amfPHP, PHPRPC, memcache</dd>
              <dt>Responsible for</dt><dd>Backend architecture and scalability design,<br>
                  databse design,<br>
                  webservices development,<br>
                  cross platform deployment(opensocial)
              </dd>
            </dl>
          </div> 
          <div class="span2"><img class="img-polaroid" src="img/storecity.jpg" /></div>
        </section>

        <!-- mobile
        ================================================== -->
        <section id="mobile" class="row">
          <div class="page-header">
            <h3>Mobile</h3>
          </div>
          <div class="span6">
            <dl class="dl-horizontal">
              <dt>App name</dt><dd>Tarot yearcycle</dd>
              <dt>Platform</dt><dd>iOS</dd>
              <dt>Development</dt><dd>Objective C, iOS SDK 5.1, iAd, StoreKit</dd>
              <dt>Details</dt><dd>
                For this app I used UIView to implement the cards. 
                The cardflip effect is done with UIView animation transition.<br>
                Facebook iOS SDK is also used to integrate facebook feed publish, Storekit SDK is used to implement in-app purchase functions. 
              </dd>
            </dl>
          </div>
          <div class="span1 offset1"><img class="img-rounded" src="img/tarotyear.jpg" /></div>
        </section> 

        </section>

      </div>
    </div>
</div>


<script>
var $window = jQuery(window);
jQuery(document).ready(function(){
jQuery('#portfolio_container').fadeIn();
var offset = 80;

jQuery('#sidenav li a').click(function(event) {
    event.preventDefault();
    jQuery(jQuery(this).attr('href'))[0].scrollIntoView();
    scrollBy(0, -offset);
});
/*
jQuery('#portfolio_container').scrollspy({
  target: '#sidenav',
  offset: 80
});
*/
jQuery('.bs-docs-sidenav').affix({
      offset:{
        top: 60
      }
    })
});
</script>
