        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Sam Liu's</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li <% if (navName == 'lab') { %> class="active" <%} %> ><a href="#">Lab</a></li>
                    <li <% if (navName == 'portfolio') { %> class="active" <%} %> ><a href="#/portfolio/">Portfolio</a></li>
                  </ul>
                  <ul class="nav pull-right">
                    <li <% if (navName == 'about') { %> class="active" <%} %> >
                      <a href="#/about/" class="dropdown-toggle">About Me</a>
                    </li>
                  </ul>
               </div><!--/.nav-collapse -->
            </div>
        </div>

